.sidebar {
  width: 250px;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
  display: flex;
  justify-content: space-between;
}

.sidebar.open {
  transform: translateX(0);
}

.toggle-button {
  border: none;
  padding: 10px;
  cursor: pointer;
  margin: 10px;
  align-self: flex-end;
}
