body {
  background-image: url('/main-background.jpg'); /* Caminho relativo à raiz do projeto */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}
